pipeline/copydatablob toadls_getmetadata.json
{
	"name": "copydatablob toadls_getmetadata",
	"properties": {
		"description": "this is data copy from azureblodstoraage to azuredatalake storage",
		"activities": [
			{
				"name": "copy azureblob to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Azureblobstorage2",
						"type": "DatasetReference",
						"parameters": {
							"filename_ds": {
								"value": "@pipeline().globalParameters.filename",
								"type": "Expression"
							},
							"Env_ds": {
								"value": "@pipeline().globalParameters.Env",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azuredelpoy_adls2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "delete copydata",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy azureblob to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Azureblobstorage2",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlob_adf_development",
							"type": "LinkedServiceReference"
						},
						"path": "logzone"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata_copydata",
				"description": "this getmetadata activity copy from blob to ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_getmetadata2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_condition",
				"description": "this filter will copy data",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_copydata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_copydata').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline_copydata",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "delete copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copydata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline Email notification fail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Metadata_copydata",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "copy azureblob to ADLS",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "delete copydata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "emailnotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"receiver": "adiazure9@gmail.com",
						"Sourcefile": "Autoinvoice_Import_Program_300320.txt",
						"Status": "\"fail\""
					}
				}
			},
			{
				"name": "Execute Pipeline Email notification_sucess",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "delete copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "emailnotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"receiver": "adiazure9@gmail.com",
						"Sourcefile": "Autoinvoice_Import_Program_300320.txt",
						"Status": "\"fail\""
					}
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ISE"
		},
		"annotations": []
	}
}