pipeline/copydatablob toadls_getmetadata.json
{
	"name": "copydatablob toadls_getmetadata",
	"properties": {
		"description": "this is data copy from azureblodstoraage to azuredatalake storage",
		"activities": [
			{
				"name": "copy azureblob to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Azureblobstorage2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azuredelpoy_adls2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "delete copydata",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy azureblob to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Azureblobstorage2",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlob_adf_development",
							"type": "LinkedServiceReference"
						},
						"path": "logzone"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata_copydata",
				"description": "this getmetadata activity copy from blob to ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_getmetadata2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_condition",
				"description": "this filter will copy data",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_copydata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_copydata').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline_copydata",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "delete copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copydata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "send email to fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Metadata_copydata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-27.southindia.logic.azure.com:443/workflows/ce245314226f4e22bc1d6cdad4f58e3f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ld3B73-FkAXYYtgochSfMi4z3BMXhryRimQDkvwTZ1E",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\r\n  \"message\":   \"this is custom dynamic message from your pipeline with run TO @{pipeline().RunId}.\",\r\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\r\n  \"pipelineName\":    \"@{pipeline().Pipeline}\",\r\n  \"receiver\":        \"@{pipeline().parameters.receiver}\"\r\n}",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "AzureDataLake_adf_development",
							"type": "LinkedServiceReference"
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			},
			"dataFactoryName": {
				"type": "string"
			},
			"pipelineName": {
				"type": "string"
			},
			"message": {
				"type": "string"
			},
			"receiver": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ISE"
		},
		"annotations": []
	}
}