pipeline/customercopy_copy1.json
{
	"name": "customercopy_copy1",
	"properties": {
		"activities": [
			{
				"name": "customercopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "blob to lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "customer_blob_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "customer_adls_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "deletelocator",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "customercopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "delete_customer_blob_ds",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlob_adf_dev",
							"type": "LinkedServiceReference"
						},
						"path": "logzone"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "blob to lake",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable_runID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata_blob_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set variable_TokenID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TokenID",
					"value": {
						"value": "@split(pipeline().parameters.filename,'_')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_Value",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Value",
					"value": {
						"value": "@split(pipeline().parameters.filename,'_')[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_runID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable_TokenID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@concat(variables('TokenID'),'_',variables('Value'),'_Runrequest.xls')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"TokenID": {
				"type": "String"
			},
			"Value": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EMR"
		},
		"annotations": []
	}
}