pipeline/customercopy_copy1.json
{
	"name": "customercopy_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable_TokenID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TokenID",
					"value": {
						"value": "@split(pipeline().parameters.filename,'_')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_Value",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Value",
					"value": {
						"value": "@split(pipeline().parameters.filename,'_')[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_runID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable_TokenID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@concat(variables('TokenID'),'_',variables('Value'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch_RunTokenID",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set variable_runID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('TokenID')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Load",
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Azureblobstorage",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "dalalake_locator_ds",
											"type": "DatasetReference"
										}
									]
								}
							]
						},
						{
							"value": "Down",
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Azureblobstorage",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "azureprepare_adls",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"folderName": {
				"type": "string",
				"defaultValue": "output1"
			}
		},
		"variables": {
			"TokenID": {
				"type": "String"
			},
			"Value": {
				"type": "String"
			},
			"RunID": {
				"type": "String"
			},
			"TokenPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EMR"
		},
		"annotations": []
	}
}