pipeline/customercopy.json
{
	"name": "customercopy",
	"properties": {
		"activities": [
			{
				"name": "customercopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "customer_blob_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "customer_adls_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "deletelocator",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "customercopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "delete_customer_blob_ds",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlob_adf_dev",
							"type": "LinkedServiceReference"
						},
						"path": "logzone"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter_condition_metadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_bloto Adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_bloto Adls').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_bloto Adls').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata_bloto Adls",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata_blob_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Web_activityl_fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Metadata_bloto Adls",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod2-49.eastus.logic.azure.com:443/workflows/c5036fb8b4bb4ddab9ec749d30b7a57a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lwhl2gygB3dVBPMl6eEQnnzTZ23AG4YjEUp-S-6FkoM",
					"method": "POST",
					"headers": {
						"content-Type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{ \n \"message\" : \"This is custom dynamic application from your pipeline with runid @{pipeline().RunId}.\",\n \"datafactoryName\" : \"@{pipeline().DataFactory}.\",\n \"pipelineName\"  : \"@{pipeline().Pipeline}.\",\n \"receiver\"   : \"@{pipeline().parameters.receiver}\"\n \n}",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "AzureDataLake_adf_dev",
							"type": "LinkedServiceReference"
						}
					],
					"httpRequestTimeout": {
						"value": "00:00:10",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_activitylogicapp_success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Metadata_bloto Adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod2-49.eastus.logic.azure.com:443/workflows/c5036fb8b4bb4ddab9ec749d30b7a57a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lwhl2gygB3dVBPMl6eEQnnzTZ23AG4YjEUp-S-6FkoM",
					"method": "POST",
					"headers": {
						"content-Type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{ \n \"message\" : \"This is custom dynamic application from your pipeline with runid @{pipeline().RunId}.\",\n \"datafactoryName\" : \"@{pipeline().DataFactory}.\",\n \"pipelineName\"  : \"@{pipeline().Pipeline}.\",\n \"receiver\"   : \"@{pipeline().parameters.receiver}\"\n \n}",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "AzureDataLake_adf_dev",
							"type": "LinkedServiceReference"
						}
					],
					"httpRequestTimeout": {
						"value": "00:00:10",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"datafactoryName": {
				"type": "string"
			},
			"message": {
				"type": "string"
			},
			"pipelineName": {
				"type": "string"
			},
			"receiver": {
				"type": "string"
			},
			"status": {
				"type": "string"
			}
		},
		"folder": {
			"name": "EMR"
		},
		"annotations": []
	}
}