pipeline/pipeline_until.json
{
	"name": "pipeline_until",
	"properties": {
		"activities": [
			{
				"name": "Wait_activity",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 45
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID1",
					"value": "20"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID2",
					"value": "50"
				}
			},
			{
				"name": "Until_activity",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('ID1')),int(variables('ID2')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data_util",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Azureblobstorage1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Binary_Adls_forloop_ds",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data_util",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ID1",
								"value": "10"
							}
						}
					],
					"timeout": "0.00:05:00"
				}
			}
		],
		"variables": {
			"ID1": {
				"type": "String"
			},
			"ID2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EMR"
		},
		"annotations": []
	}
}