Adiboyapati/narayana/blob/main/narayana_adf/pipeline/Azadf_copydata_df_copy_setvaribles.json
{
	"name": "Azadf_copydata_df_copy_setvaribles",
	"properties": {
		"description": "This pipeline is used to copy data rawzone to strucked zone",
		"activities": [
			{
				"name": "Rawzone to struct to copy data",
				"description": "this data copy from rawzone to struct zone",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage_adfdevlopment",
								"type": "LinkedServiceReference"
							},
							"path": "ingesterror"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Adfdeploy_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adfdeploy_adls_binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete rawzone data",
				"description": "this activity delete rawzone datafiles",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Rawzone to struct to copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Adfdeploy_ds",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_adfdevlopment",
							"type": "LinkedServiceReference"
						},
						"path": "logzone"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata_blob",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable_TokenID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_getmetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_condition",
				"description": "filter the list of conditions",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_blob').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_blob').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline_cpoydata",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete rawzone data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyPipeline_onetinecopy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable_TokenID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tokenID",
					"value": {
						"value": "@split(pipeline().parameters.Filename,'_')[1]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Filename": {
				"type": "string"
			}
		},
		"variables": {
			"tokenID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AzureADF"
		},
		"annotations": []
	}
}